<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">

<link rel="import" href="shared-styles.html">

<dom-module id="sn-settings">
  <template>
    <style include="shared-styles iron-flex iron-flex-alignment">
      :host {
        display: block;

        padding: 10px;
      }

      .result-card {
        max-width: 20em;
      }
    </style>

    <div class="card">
      <h1>Settings</h1>
      <p>Obtain an API key <a href="https://saucenao.com/user.php?page=search-api">from SauceNAO.</a></p>
      <paper-input value="{{apiKey}}" label="API key (optional)"></paper-input>
    </div>
  </template>
  <script>
    Polymer({
      is: 'sn-settings',
      properties: {
        apiKey: {
            type: String,
            value: function() {return localStorage.apiKey || ""},
            observer: "apiKeyChanged_"
        }
      },
      apiKeyChanged_(newKey) {
        localStorage.apiKey = newKey;
      }
    });
  </script>
</dom-module>
