<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">

<link rel="import" href="shared-styles.html">

<dom-module id="sn-search">
  <template>
    <style include="shared-styles iron-flex iron-flex-alignment">
      :host {
        display: block;

        padding: 10px;
      }

      .result-card {
        max-width: 20em;
      }
    </style>

    <div class="card">
      <h1>Search</h1>
      <template is="dom-if" if="[[apiKey]]"><p>Using API key.</p></template>
      <template is="dom-if" if="[[!apiKey]]"><p>Not using an API key, configure one on the settings page.</p></template>
      <paper-input value="{{search}}" label="Search URL"></paper-input>
      <iron-ajax 
        auto 
        params="[[requestParams]]"
        url="https://kgmi.moe/saucenaoproxy"
        handle-as="json"
        debounce-duration="500"
        last-response="{{saucenaoResponse}}"
        error="{{saucenaoError}}"
        verbose="true"></iron-ajax>
        <p>[[saucenaoError]]</p>
    </div>
    <div class="layout horizontal wrap">
        <template is="dom-repeat" items="[[response.results]]">
            <div class="card result-card">
                <img src="[[item.thumbnail]]" />
                <p>Similarity: [[item.similarity]]</p>
                <p>Index: [[item.index_name]]</p>
                <template is="dom-if" if="[[item.source.name]]"><p>Source: [[item.source.name]]</p></template>
                <template is="dom-if" if="[[item.source.eng_name]]"><p>Source English Name: [[item.source.eng_name]]</p></template>
                <template is="dom-if" if="[[item.source.jp_name]]"><p>Source Japanese Name: [[item.source.jp_name]]</p></template>
                <template is="dom-if" if="[[item.creator.name]]">
                    <template is="dom-if" if="[[item.creator.url]]">
                        <p>Creator: <a href="[[item.creator.url]]">[[item.creator.name]]</a></p>
                    </template>
                    <template is="dom-if" if="[[!item.creator.url]]">
                        <p>Creator: [[item.creator.name]]</p>
                    </template>
                </template>
                <template is="dom-if" if="[[item.canonical_source.name]]">
                    <p>[[item.canonical_source.name]]: <a href="[[item.canonical_source.url]]">[[item.canonical_source.id]]</a></p>
                </template>
                <template is="dom-repeat" items="[[item.booru_sources]]">
                    <p>[[item.name]]: <a href="[[item.url]]">[[item.id]]</a></p>
                </template>
            </div>
        </template>
     </div>
  </template>

  <script>
    Polymer({
      is: 'sn-search',
      properties: {
        apiKey: {
            type: String,
            readOnly: true,
            value: function() {return localStorage.apiKey || ""}
        },
        search: String,
        saucenaoResponse: {
            type: Object,
            value: function() {return {header: {}, results: []}}
        },
        requestParams: {
            type: String,
            readOnly: true,
            notify: true,
            computed: "buildParams_(apiKey, search)"
        },
        response: {
            type: Object,
            readOnly: true,
            notify: true,
            computed: "response_(saucenaoResponse)"
        }
      },
      buildParams_: function(apiKey, search) {
        if (!search) return {};
        var params = {
            output_type: 2,
            url: search,
            numres: 16,
            //testmode: 1,
            //db: 999
        };
        if (!!apiKey) {
            params.api_key = apiKey;
        }
        return params;
      },
      response_: function(saucenaoResponse) {
        var booru_key_mapping = {
            danbooru_id: {
                name: 'Danbooru',
                url_format: 'https://danbooru.donmai.us/posts/{id}/'
            },
            sankaku_id: {
                name: 'Sankaku Complex',
                url_format: 'http://chan.sankakucomplex.com/post/show/{id}'
            },
            gelbooru_id: {
                name: 'Gelbooru',
                url_format: 'http://gelbooru.com/index.php?page=post&s=view&id={id}'
            },
            yandere_id: {
                name: 'Yandere',
                url_format: 'https://yande.re/post/show/{id}'
            }
        };
        var booru_keys = ['yandere_id', 'danbooru_id', 'gelbooru_id', 'sankaku_id'];

        var canonical_source_mapping = {
            pixiv_id: {
                name: 'Pixiv',
                post_url_format: 'http://www.pixiv.net/member_illust.php?mode=medium&illust_id={id}',
                creator_url_format: 'http://www.pixiv.net/member.php?id={id}'
            }
        }
        var canonical_keys = ['pixiv_id'];
        if (!saucenaoResponse || !saucenaoResponse.results) return {results: []};
        return {
            results: saucenaoResponse.results.map(function(item) {
                var header = item.header;
                var data = item.data;
                var result = {
                    similarity: header.similarity,
                    thumbnail: header.thumbnail,
                    index_name: header.index_name,
                    booru_sources: [],
                    canonical_source: {},
                    creator: {},
                    source: {}
                };
                if (data.creator) {
                    if (data.creator instanceof Array) {
                        data.creator.name = data.creator.join(', ');
                    }
                }
                if (data.member_name) result.creator.name = data.member_name;

                for (var i=0; i<booru_keys.length; i++){
                    if (!!data[booru_keys[i]]) {
                        var mapping = booru_key_mapping[booru_keys[i]];
                        result.booru_sources.push({
                            id: data[booru_keys[i]],
                            name: mapping.name,
                            url: mapping.url_format.replace('{id}', data[booru_keys[i]].toString())
                        });
                    }
                }

                for (var i=0; i<canonical_keys.length; i++){
                    if (!!data[canonical_keys[i]]) {
                        var mapping = canonical_source_mapping[canonical_keys[i]];
                        result.canonical_source = {
                            id: data[canonical_keys[i]],
                            name: mapping.name,
                            url: mapping.post_url_format.replace('{id}', data[canonical_keys[i]].toString())
                        };
                        if (!!data.member_id) {
                            result.creator.url = mapping.creator_url_format.replace('{id}', data.member_id.toString());
                        }
                        break;
                    }
                }

                if (!!data.source) result.source.name = data.source;
                if (!!data.eng_name) result.source.eng_name = data.eng_name;
                if (!!data.jp_name) result.source.jp_name = data.jp_name;

                return result;
            })
        };
      } 
    });
  </script>
</dom-module>
